<?xml version="1.0"?>
<launch>

  <!-- Public static transform -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" output="screen" args="0 0 2 0 0 0 map os_sensor" required="true"/>

  <!-- Play bag file -->
  <node name="play_bag" pkg="rosbag" type="play" respawn="false" output="screen" args="-l -r 0.8 /home/ericga/MASTER_THESIS/TGM_WS/bags/static.bag">
  </node>
  
  <!-- Start preprocessing_node -->
  <node name="preprocessing_node" pkg="sensor_model" type="preprocessing_node" output="screen">
    <rosparam file="$(find sensor_model)/params/preprocessing.yaml" />
  </node>
  
  <!-- Start occupancy_grid_map_node -->
  <node name="occupancy_grid_map_node" pkg="sensor_model" type="occupancy_grid_map_node" output="screen">
    <rosparam file="$(find sensor_model)/params/occupancy_grid_map.yaml" />
  </node>
  
  <node name="car_publisher" pkg="rviz_visualizer" type="car_publisher" output="screen">
  </node>

  <!-- Launch RViz for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find sensor_model)/config/preprocessing_config.rviz" />
    

</launch>



